<!-- Whenever you see "extends," think of this implementation as inheriting from the "base.html" template. -->
{% extends "base.html" %}
{% block title %}Search Courses{% endblock %}
{% block head %}
    <!-- super() refers to the "base.html" implementation of the block; in this case, the "head" block. -->
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
{% block content %}
<h1>Welcome to the Scheduler 1.0</h1>
<p>This website will allow you to ensure the best possible schedule. Please note that you may get a different result
    every time you run the scheduling algorithm. Also, please be patient as it can take a while to provide courses.</p>
<div class="scheduler">
    <form method="post">
        <h2>Course Scheduler</h2>
        <label for="filter">Search Course: </label><input type="text" id="filter"/>
        <button type="button" id="search" onclick="applySearchFilter();">Search</button>
        <button type="button" id="clear" onclick="clearSearchFilter();">Clear</button><br><br>
        <select class="search" id="course" name="courses" multiple>
        {% for course in courses %}
            <option value="{{course.id}}">{{course.abbreviation}} - {{course.title}}</option>
        {% endfor %}
        </select><br><br>
        <!--
        <br><br>
        <label for="days">Day(s) Available:</label><br><br>
        <select id="days" size="5" name="days" multiple>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
        </select><br><br>
        <label for="start1" oninput="checkStartEnd(this, document.getElementById('start2'))" >Start Time:</label>
        <input type="time" id="start1" name="start1" /> to <input type="time" id="start2" name="start2" /><br><br>
        <label for="end1">End Time:</label>
        <input type="time" id="end1" name="end1" oninput="checkStartEnd(this, document.getElementById('end2'))" /> to <input type="time" name="end2" id="end2" /><br><br>

        <button type="button">Clear Filters</button><br><br>-->
        <input type="submit" value="Apply Filters" /><br><br>
        {% if not user %}
        <p>To add preferences to your search, please <a href="login.html">log in</a> or
            <a href="signup.html">sign up</a> for an account.</p>
        {% else %}
        <input type="submit" value="Edit Preferences" name="prefs" />
        {% endif %}
    </form>
</div><br><br>
<div class="results">
    {% if results|length %}
        <form method="post">
            <p><input type="submit" value="<< Previous Page" name="previous" />
                <input type="hidden" name="page" />
                Page Number: <input type="number" step="1" max="{{ num_pages }}" min="1" name="nav" />
                <input type="submit" value="Go to Page" /> <input type="submit" value="Next Page >>" name="next" />
            </p>
        </form>
        <p>Viewing results <strong>{{ 25 * page + 1 }}</strong> to <strong>{{ end }}</strong> out of
            <strong>{{ results|length }}</strong> (Page <strong>{{ page + 1 }}</strong> of
            <strong>{{ num_pages }}</strong>)</p><br>
        {% for result, score in query %}
            <h3>Result {{ 25 * page + loop.index }}</h3>
            <table class="bordered">
                <tr>
                    <th colspan="3">Match Rating: {{score}}%</th>
                </tr>
                <tr>
                    <th>Course Title</th>
                    <th>Section</th>
                    <th>Schedule</th>
                </tr>
                {% for schedule in result %}
                <tr>
                    <td>{{ selected_courses[loop.index0] }}</td>
                    <td>{{ schedule.section }}</td>
                    <td>{{ schedule.times() }}</td>
                </tr>
                {% endfor %}
            </table><br><br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}