{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block content %}
<h1>Profile</h1>
<p>Hi, {{name}}!</p><br><br>
<h2>Settings</h2>
<h3>Schedule</h3>

<!-- The table class "borders" -->
<table class="bordered">
    <tr>
        <td>Available Times</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr>
        <td>
            <input type="time" />
            <button>Remove Interval</button><br><br>
            <button>Add Interval</button>
        </td>
        <td>
            <button>Remove Interval</button><br><br>
            <button>Add Interval</button>
        </td>
        <td>
            <button>Remove Interval</button><br><br>
            <button>Add Interval</button>
        </td>
        <td>

            <button>Remove Interval</button><br><br>
            <button>Add Interval</button>
        </td>
    </tr>
</table>
<h3>Preferences</h3>

{% endblock %}