{% extends "base.html" %}
{% block title %}{{user.first_name}}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    <script src="{{url_for('static', filename='js/profile.js')}}"></script>
{% endblock %}
{% block content %}
<h1>Profile</h1>
<p>Hi, {{user.first_name}}!</p><br><br>
<h2>Settings</h2>
<h3>Schedule</h3>

<!-- The table class "borders" -->
{% if error %}
    <p class="error"><strong>Error: </strong> {{ error }}</p><br><br>
{% endif %}
{% if message %}
<p>{{ message }}</p><br><br>
{% endif %}
<form method="post">
<table class="bordered">
    <tr>
        <th colspan="5">Available Times</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr>
        <!-- The code will check for a python dictionary named "prefs."
         Indices 1-5 encode the day of the week (1=Monday, 2=Tuesday, ..., 5=Friday).
         -->
        <td id="monday">
            {% if prefs['monday']|length %}
                <div hidden>No Interval Selected</div>
                {% for pref in prefs['monday'] %}
                    <div>
                        <input type="time" oninput="checkStartEnd(this, this.nextSibling.nextSibling)"
                           value="{{ pref.start }}" id="mondayStart{{ loop.index }}"
                           name="mondayStart{{ loop.index}}" /> to
                        <input type="time" id="mondayEnd{{ loop.index }}"
                               value="{{ pref.end }}" name="mondayEnd{{ loop.index }}" min="{{ pref.start }}" /><br>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Interval Selected</div>
            {% endif %}
        </td>
        <td id="tuesday">
            {% if prefs['tuesday']|length %}
                <div hidden>No Interval Selected</div>
                {% for pref in prefs['tuesday'] %}
                    <div>
                        <input type="time" oninput="checkStartEnd(this, this.nextSibling.nextSibling)"
                               value="{{ pref.start }}" id="tuesdayStart{{ loop.index }}"
                               name="tuesdayStart{{ loop.index}}" /> to
                        <input type="time" id="tuesdayEnd{{ loop.index }}"
                               value="{{ pref.end }}" name="tuesdayEnd{{ loop.index }}" min="{{ pref.start }}" /><br>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Interval Selected</div>
            {% endif %}
        </td>
        <td id="wednesday">
            {% if prefs['wednesday']|length %}
                <div hidden>No Interval Selected</div>
                {% for pref in prefs['wednesday'] %}
                    <div>
                        <input type="time" oninput="checkStartEnd(this, this.nextSibling.nextSibling)"
                               value="{{ pref.start }}" id="wednesdayStart{{ loop.index }}"
                               name="wednesdayStart{{ loop.index}}" /> to
                        <input type="time" value="{{ pref.end }}" id="wednesdayEnd{{ loop.index }}"
                               name="wednesdayEnd{{ loop.index }}" min="{{ pref.start }}" /><br>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Interval Selected</div>
            {% endif %}
        </td>
        <td id="thursday">
            {% if prefs['thursday']|length %}
                <div hidden>No Interval Selected</div>
                {% for pref in prefs['thursday'] %}
                    <div>
                        <input type="time" oninput="checkStartEnd(this, this.nextSibling.nextSibling)"
                               value="{{ pref.start }}" id="thursdayStart{{ loop.index }}"
                               name="thursdayStart{{ loop.index}}" /> to
                        <input type="time" value="{{ pref.end }}" id="thursdayEnd{{ loop.index }}"
                               name="thursdayEnd{{ loop.index }}" min="{{ pref.start }}" /><br>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Interval Selected</div>
            {% endif %}
        </td>
        <td id="friday">
            {% if prefs['friday']|length %}
                <div hidden>No Interval Selected</div>
                {% for pref in prefs['friday'] %}
                    <div>
                        <input type="time" oninput="checkStartEnd(this, this.nextSibling.nextSibling)"
                               value="{{ pref.start }}" id="fridayStart{{ loop.index }}"
                               name="fridayStart{{ loop.index}}" /> to
                        <input type="time" value="{{ pref.end }}" id="fridayEnd{{ loop.index }}"
                               name="fridayEnd{{ loop.index }}" min="{{ pref.start }}" /><br>
                    </div>
                {% endfor %}
            {% else %}
                <div>No Interval Selected</div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" onclick="removeInterval('monday');">Remove Interval</button><br>
            <button type="button" onclick="addInterval('monday');">Add Interval</button>
        </td>
        <td>
            <button type="button" onclick="removeInterval('tuesday');">Remove Interval</button><br>
            <button type="button" onclick="addInterval('tuesday');">Add Interval</button>
        </td>
        <td>
            <button type="button" onclick="removeInterval('wednesday');">Remove Interval</button><br>
            <button type="button" onclick="addInterval('wednesday');">Add Interval</button>
        </td>
        <td>
            <button type="button" onclick="removeInterval('thursday');">Remove Interval</button><br>
            <button type="button" onclick="addInterval('thursday');">Add Interval</button>
        </td>
        <td>
            <button type="button" onclick="removeInterval('friday');">Remove Interval</button><br>
            <button type="button" onclick="addInterval('friday');">Add Interval</button>
        </td>
    </tr>
</table><br><br>
<input type="submit" value="Save Preferences" /><br><br>
<input type="submit" value="Go to Scheduler" name="scheduler" />
</form>

{% endblock %}