{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}" />
{% endblock %}
{% block content %}
<form method="post">
    <h1>Sign Up</h1>
    Already signed up? Log in <a href="login.html">here</a>!<br><br>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}<br><br>
    {% endif %}
    <label for="first">Email: </label>
    <input type="email" id="email" name="email" maxlength="254" required /><br><br>
    <label for="first">Password: </label>
    <input type="password" id="pass" name="password" maxlength="40" required /><br><br>
    <label for="first">Repeat Password: </label>
    <input type="password" id="repeat_password" name="repeat_password" maxlength="40" required /><br><br>
    <label for="first">First Name: </label>
    <input type="text" id="first" name="first" maxlength="20" required /><br><br>
    <label for="last">Last Name: </label>
    <input type="text" id="last" name="last" maxlength="40" required /><br><br>
    <label for="middle">Middle Initial (optional): </label>
    <input type="text" id="middle" name="middle" maxlength="1" /><br><br><br>
    <input type="submit" value="Sign Up" />
</form>
{% endblock %}